@charset "UTF-8";
.wrap {
  min-height: unset !important; }

.gw-outer-container #mw-image,
.gw-outer-container #ww-image {
  display: none;
  position: relative; }
  .gw-outer-container #mw-image img,
  .gw-outer-container #ww-image img {
    width: 100%; }
  .gw-outer-container #mw-image.gw-show,
  .gw-outer-container #ww-image.gw-show {
    display: block; }
    @media screen and (width: 1024px) and (min-device-height: 768px) and (max-device-height: 1024px), screen and (width: 1366px) and (min-device-height: 768px) and (max-device-height: 1024px) and (orientation: landscape) {
      .gw-outer-container #mw-image.gw-show,
      .gw-outer-container #ww-image.gw-show {
        display: none; } }

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    @media screen and (min-width: 1024px) {
      .gw-outer-container #mw-image.gw-show,
      .gw-outer-container div#ww-image.gw-show {
        display: none; } } } }

.gw-outer-container .gw-container {
  display: flex;
  flex-flow: row-reverse;
  position: relative;
  text-align: left; }
  @media screen and (device-width: 1080px) and (min-device-height: 800px) {
    .gw-outer-container .gw-container > div {
      width: 100%; } }
  @media screen and (max-width: 1023px), screen and (device-width: 1080px) and (min-device-height: 800px) {
    .gw-outer-container .gw-container {
      flex-flow: column;
      position: relative;
      text-align: left; } }
  .gw-outer-container .gw-container__image-container {
    width: 100%;
    overflow: hidden;
    position: relative; }
    @media screen and (min-width: 1025px) {
      .gw-outer-container .gw-container__image-container {
        width: 50%; } }
    @media screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
      .gw-outer-container .gw-container__image-container {
        width: 50%; } }
    @media screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
      .gw-outer-container .gw-container__image-container {
        width: 100%; } }
    @media screen and (min-width: 1280px) {
      .gw-outer-container .gw-container__image-container {
        width: 50%; } }
    .gw-outer-container .gw-container__image-container #caro {
      display: none; }
      @media screen and (width: 1024px) and (min-device-height: 768px) and (max-device-height: 1024px), screen and (width: 1366px) and (min-device-height: 768px) and (max-device-height: 1024px) and (orientation: landscape) {
        .gw-outer-container .gw-container__image-container #caro {
          display: block; } }
      .gw-outer-container .gw-container__image-container #caro .basic-carousel-container {
        display: none;
        display: block;
        position: relative; }
        .gw-outer-container .gw-container__image-container #caro .basic-carousel-container .slick-slide {
          height: unset !important;
          position: relative; }
        .gw-outer-container .gw-container__image-container #caro .basic-carousel-container .slider .slick-dots {
          position: absolute;
          bottom: 8%;
          left: 50%;
          transform: translateX(-50%);
          padding: 0 0 0 20px; }
          .gw-outer-container .gw-container__image-container #caro .basic-carousel-container .slider .slick-dots li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;
            cursor: pointer; }
            .gw-outer-container .gw-container__image-container #caro .basic-carousel-container .slider .slick-dots li.slick-active button:before {
              background-color: black; }
            .gw-outer-container .gw-container__image-container #caro .basic-carousel-container .slider .slick-dots li button {
              font-size: 0;
              line-height: 0;
              display: block;
              width: 10px;
              height: 10px;
              padding: 3px;
              cursor: pointer;
              color: transparent;
              border: 1px solid white;
              border-radius: 50%;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%); }
              .gw-outer-container .gw-container__image-container #caro .basic-carousel-container .slider .slick-dots li button:before {
                content: '•';
                width: 9px;
                line-height: 1;
                position: absolute;
                top: 1px;
                left: 1px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                opacity: 0.8;
                color: white;
                background-color: white; }
    .gw-outer-container .gw-container__image-container img {
      height: auto;
      width: 100%; }
    .gw-outer-container .gw-container__image-container .campaign-lkup {
      width: 65%;
      margin: auto;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 55%;
      left: 50%; }
      @media screen and (min-width: 768px) {
        .gw-outer-container .gw-container__image-container .campaign-lkup {
          top: 55%; } }
      @media screen and (min-width: 1280px) {
        .gw-outer-container .gw-container__image-container .campaign-lkup {
          top: 52%;
          width: 75%; } }
      .gw-outer-container .gw-container__image-container .campaign-lkup img {
        width: 83%;
        margin: auto; }
    .gw-outer-container .gw-container__image-container .campaign-terms {
      position: absolute;
      width: 100%;
      bottom: 11px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .gw-outer-container .gw-container__image-container .campaign-terms {
          bottom: 19px; } }
      @media screen and (min-width: 1024px) {
        .gw-outer-container .gw-container__image-container .campaign-terms {
          bottom: 30px; } }
      @media screen and (min-width: 1280px) {
        .gw-outer-container .gw-container__image-container .campaign-terms {
          bottom: 60px; } }
      .gw-outer-container .gw-container__image-container .campaign-terms a.as_cta {
        text-transform: capitalize;
        font-family: "UntitledSans-Regular"; }
  .gw-outer-container .gw-container__link-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 350px; }
    @media screen and (min-width: 360px) {
      .gw-outer-container .gw-container__link-container {
        min-height: 390px; } }
    @media screen and (min-width: 411px) {
      .gw-outer-container .gw-container__link-container {
        min-height: 420px; } }
    @media screen and (min-width: 768px) {
      .gw-outer-container .gw-container__link-container {
        min-height: 480px; } }
    @media screen and (min-width: 1024px) {
      .gw-outer-container .gw-container__link-container {
        width: 50%;
        flex-direction: column; } }
    @media screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
      .gw-outer-container .gw-container__link-container {
        width: 100%;
        flex-direction: row; } }
    @media screen and (device-width: 1080px) and (min-device-height: 800px) {
      .gw-outer-container .gw-container__link-container {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        min-height: 450px; } }
    .gw-outer-container .gw-container__link-container div {
      padding-left: 0;
      width: 100%;
      margin-left: 0; }
      @media screen and (width: 1024px) and (min-device-height: 768px) and (max-device-height: 1024px), screen and (width: 1366px) and (min-device-height: 768px) and (max-device-height: 1024px) and (orientation: landscape), screen and (min-width: 1030px) {
        .gw-outer-container .gw-container__link-container div {
          margin-left: 39px;
          padding-top: 30px; } }
      .gw-outer-container .gw-container__link-container div ul {
        display: none;
        margin: 0;
        padding: 0 0 0 31px;
        position: absolute;
        left: 0; }
        @media screen and (min-width: 1024px) and (orientation: landscape) {
          .gw-outer-container .gw-container__link-container div ul {
            display: block;
            width: 100%;
            position: relative; } }
        @media screen and (min-width: 1024px) and (orientation: landscape) {
          .gw-outer-container .gw-container__link-container div ul {
            padding-left: 0; } }
        .gw-outer-container .gw-container__link-container div ul li {
          cursor: grab;
          list-style: none;
          display: block;
          padding: 7px 0; }
          @media only screen and (min-width: 768px) {
            .gw-outer-container .gw-container__link-container div ul li {
              padding: 12px 0; } }
          @media only screen and (min-width: 1024px) {
            .gw-outer-container .gw-container__link-container div ul li {
              padding: 8px 0; } }
          @media only screen and (min-width: 1366px) {
            .gw-outer-container .gw-container__link-container div ul li {
              padding: 14px 0; } }
          @media only screen and (min-width: 1400px) {
            .gw-outer-container .gw-container__link-container div ul li {
              padding: 9px 0; } }
          @media only screen and (min-width: 1680px) {
            .gw-outer-container .gw-container__link-container div ul li {
              padding: 14px 0; } }
          @media only screen and (min-width: 1920px) {
            .gw-outer-container .gw-container__link-container div ul li {
              padding: 15px 0; } }
          @media only screen and (min-width: 2560px) {
            .gw-outer-container .gw-container__link-container div ul li {
              padding: 24px 0; } }
          .gw-outer-container .gw-container__link-container div ul li a.as_cta {
            font-size: 20px;
            text-transform: capitalize;
            font-family: Times LT W01 Roman, Times New Roman, Times, serif;
            line-height: normal;
            letter-spacing: 0.58px; }
            @media only screen and (min-width: 375px) {
              .gw-outer-container .gw-container__link-container div ul li a.as_cta {
                font-size: 26px; } }
            @media only screen and (min-width: 768px) {
              .gw-outer-container .gw-container__link-container div ul li a.as_cta {
                font-size: 24px; } }
            @media only screen and (min-width: 1366px) {
              .gw-outer-container .gw-container__link-container div ul li a.as_cta {
                font-size: 28px;
                letter-spacing: 0.67px; } }
            @media only screen and (min-width: 1440px) {
              .gw-outer-container .gw-container__link-container div ul li a.as_cta {
                font-size: 26px; } }
            @media only screen and (min-width: 1920px) {
              .gw-outer-container .gw-container__link-container div ul li a.as_cta {
                font-size: 36px;
                letter-spacing: 0.87px; } }
            @media only screen and (min-width: 2560px) {
              .gw-outer-container .gw-container__link-container div ul li a.as_cta {
                font-size: 42px;
                letter-spacing: 1.01px; } }
            @media only screen and (max-width: 767px) {
              .gw-outer-container .gw-container__link-container div ul li a.as_cta:after {
                display: none; } }
      .gw-outer-container .gw-container__link-container div p.title {
        text-transform: uppercase;
        color: black;
        font-size: 13px;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.31px;
        font-family: 'UntitledSans Medium'; }
        @media screen and (max-width: 1023px) {
          .gw-outer-container .gw-container__link-container div p.title {
            color: grey;
            border-bottom: 2px solid #c1c4c6;
            padding: 16px 0;
            margin: 0 0 20px;
            text-align: center; } }
        .gw-outer-container .gw-container__link-container div p.title a.as_cta {
          color: inherit; }
          @media screen and (max-width: 1080px) {
            .gw-outer-container .gw-container__link-container div p.title a.as_cta {
              pointer-events: none; } }
        @media screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
          .gw-outer-container .gw-container__link-container div p.title {
            color: grey;
            border-bottom: 2px solid #c1c4c6;
            padding: 16px 0;
            margin: 0 0 20px;
            text-align: center; } }
        .gw-outer-container .gw-container__link-container div p.title span.dt-only {
          display: none; }
          @media only screen and (min-width: 1024px) and (orientation: landscape) {
            .gw-outer-container .gw-container__link-container div p.title span.dt-only {
              display: inline-block; } }
      .gw-outer-container .gw-container__link-container div.selected ul {
        display: block; }
      @media screen and (max-width: 1024px), screen and (device-width: 1080px) and (min-device-height: 800px) {
        .gw-outer-container .gw-container__link-container div.selected p.title {
          color: black;
          border-bottom: 2px solid black; } }
      @media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
        .gw-outer-container .gw-container__link-container div.selected p.title {
          border: none; } }
  .gw-outer-container .gw-container .mb-only {
    display: inline-block; }
    @media screen and (min-width: 1024px) and (orientation: landscape) {
      .gw-outer-container .gw-container .mb-only {
        display: none; } }

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .gw-outer-container .gw-container__image-container #caro {
      display: block; } } }

@media only screen and (max-width: 1023px) {
  .gw-outer-container .gw-container__image-container #caro {
    display: none; } }

@media only screen and (min-width: 1367px) {
  .gw-outer-container .gw-container__image-container #caro {
    display: none; }
  .gw-outer-container #mw-image.gw-show,
  .gw-outer-container div#ww-image.gw-show {
    display: block; } }

@font-face {
  font-family: 'Univers73';
  src: url("/fonts/univers73-black-extended/univers73-black-extended.woff2") format("woff2"), url("/fonts/univers73-black-extended/univers73-black-extended.woff") format("woff"), url("/fonts/univers73-black-extended/univers73-black-extended.ttf") format("truetype"); }

@font-face {
  font-family: 'UntitledSans-Medium';
  src: url("/fonts/untitled-sans/UntitledSans-Medium.woff") format("woff"); }

@font-face {
  font-family: 'UntitledSans-Regular';
  src: url("/fonts/untitled-sans/UntitledSans-Regular.woff") format("woff"); }

@font-face {
  font-family: 'stone-serif';
  src: url("/fonts/stone-serif/stone-serif.woff2") format("woff2"), url("/fonts/stone-serif/stone-serif?#iefix") format("embedded-opentype"), url("/fonts/stone-serif/stone-serif.woff") format("woff"), url("/fonts/stone-serif/stone-serif.ttf") format("truetype"); }

@font-face {
  font-family: 'brick-text-black';
  src: url("/fonts/brick-text-black/brick-text-black-pro.woff2") format("woff2"), url("/fonts/brick-text-black/brick-text-black-pro?#iefix") format("embedded-opentype"), url("/fonts/brick-text-black/brick-text-black-pro.woff") format("woff"), url("/fonts/brick-text-black/brick-text-black-pro.ttf") format("truetype"); }

@font-face {
  font-family: 'itc-benguiat-bold';
  src: url("/fonts/itc-benguiat-bold/itc-benguiat-bold.woff2") format("woff2"), url("/fonts/itc-benguiat-bold/itc-benguiat-bold.woff") format("woff"), url("/fonts/itc-benguiat-bold/itc-benguiat-bold.ttf") format("truetype"); }

@font-face {
  font-family: 'plakette-ts-heavy';
  src: url("/fonts/plakette-ts-heavy/plakette-ts-heavy.woff2") format("woff2"), url("/fonts/plakette-ts-heavy/plakette-ts-heavy.woff") format("woff"), url("/fonts/plakette-ts-heavy/plakette-ts-heavy.ttf") format("truetype"); }

@font-face {
  font-family: 'NewhouseDTCond-Bold';
  src: url("/fonts/newhouse-dt/newhouse-dt.eot");
  src: url("/fonts/newhouse-dt/newhouse-dt.eot?#iefix") format("embedded-opentype"), url("/fonts/newhouse-dt/newhouse-dt.woff2") format("woff2"), url("/fonts/newhouse-dt/newhouse-dt.woff") format("woff"), url("/fonts/newhouse-dt/newhouse-dt.ttf") format("truetype"); }

@font-face {
  font-family: 'AkzidenzGrotesk-Medium';
  src: url("/fonts/AkzidenzGrotesk-Medium/AkzidenzGroteskBQ-Medium.eot");
  src: url("/fonts/AkzidenzGrotesk-Medium/AkzidenzGroteskBQ-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/AkzidenzGrotesk-Medium/AkzidenzGroteskBQ-Medium.woff2") format("woff2"), url("/fonts/AkzidenzGrotesk-Medium/AkzidenzGroteskBQ-Medium.woff") format("woff"), url("/fonts/AkzidenzGrotesk-Medium/AkzidenzGroteskBQ-Medium.ttf") format("truetype"); }

a.as_cta {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: normal;
  font-family: "UntitledSans-Medium";
  display: inline-block;
  text-decoration: none; }
  a.as_cta.white {
    color: white; }
  a.as_cta.black {
    color: black; }
  a.as_cta.red {
    color: red; }
  a.as_cta.cta_underline:after {
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: solid 1px;
    display: block;
    border-bottom-color: inherit; }
    @media screen and (min-width: 680px) {
      a.as_cta.cta_underline:after {
        transform: scale(0);
        transition: 250ms transform ease-out;
        transform-origin: 0 0; } }
  @media screen and (min-width: 680px) {
    a.as_cta.cta_underline:hover:after {
      transform: scale(1);
      transform-origin: 100% 0; } }
  @media screen and (min-width: 680px) {
    a.as_cta.cta_underline.reverse:after {
      transform: scale(1); } }
  @media screen and (min-width: 680px) {
    a.as_cta.cta_underline.reverse:hover:after {
      transform: scale(0); } }

.grow2,
.grow3 {
  transition: transform ease-in-out .9s;
  display: inline-block; }

@media (min-width: 1081px) {
  .grow2:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1.1); } }

@media (min-width: 1081px) {
  .grow3:hover {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1.05); } }

body {
  margin: 0;
  overflow-x: hidden; }

.container, .container-fluid {
  padding-left: 0;
  padding-right: 0; }

a.fill-image-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.as_cta--button {
  min-width: 142px;
  height: 44px;
  margin: auto;
  display: block;
  text-decoration: none; }
  .as_cta--button button {
    min-width: inherit;
    height: inherit;
    display: inherit;
    background-color: transparent;
    text-transform: uppercase;
    font-family: 'UntitledSans-Medium';
    font-size: 10px;
    padding: 0 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: 1.3px;
    cursor: pointer; }
    @media only screen and (min-width: 375px) {
      .as_cta--button button {
        font-size: 13px; } }
    .as_cta--button button.black {
      border: 1px solid black;
      color: black; }
      @media only screen and (min-width: 1024px) {
        .as_cta--button button.black:hover, .as_cta--button button.black:focus {
          color: white;
          background-color: rgba(47, 47, 47, 0.75);
          border: 1px solid white; } }
    .as_cta--button button.white {
      color: #fff;
      font-weight: 600;
      border: 2px solid white; }
      @media only screen and (min-width: 1024px) {
        .as_cta--button button.white:hover, .as_cta--button button.white:focus {
          background-color: white;
          color: #000; } }
    .as_cta--button button.bg-white {
      color: black;
      font-weight: 600;
      border: 1px solid #fff;
      background-color: #fff; }

.cta_columns {
  width: 90vw;
  margin: auto;
  text-align: center; }
  .cta_columns a.as_cta {
    margin: 0 45px 0 45px; }
    @media only screen and (min-width: 768px) {
      .cta_columns a.as_cta {
        margin: 0 105px 0 105px; } }
    @media only screen and (min-width: 1280px) {
      .cta_columns a.as_cta {
        margin: 0 117px 0 117px; } }
    @media only screen and (min-width: 2560px) {
      .cta_columns a.as_cta {
        margin: 0 230px 0 230px; } }
    .cta_columns a.as_cta:not(.first) {
      margin-top: 20px; }

.block-message .body-text {
  margin: auto;
  text-align: center;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  width: 90vw;
  font-family: Times LT W01 Roman, Times New Roman, Times, serif; }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .block-message .body-text {
      width: 65vw; } }
  @media screen and (min-width: 1024px) {
    .block-message .body-text {
      width: 65vw; } }
  @media screen and (min-width: 1280px) {
    .block-message .body-text {
      width: 62vw; } }
  .block-message .body-text h2 {
    font-family: Times LT W01 Roman, Times New Roman, Times, serif;
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 1.54;
    letter-spacing: 0.72px; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .block-message .body-text h2 {
        width: 71%;
        margin: auto; } }
    @media screen and (min-width: 1280px) {
      .block-message .body-text h2 {
        font-size: 36px; } }
    @media screen and (min-width: 1920px) {
      .block-message .body-text h2 {
        font-size: 40px; } }
    @media screen and (min-width: 2560px) {
      .block-message .body-text h2 {
        font-size: 66px; } }
  .block-message .body-text p {
    margin: 20px 0 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.5px; }
    @media screen and (min-width: 1920px) {
      .block-message .body-text p {
        font-size: 20px; } }
    @media screen and (min-width: 2560px) {
      .block-message .body-text p {
        font-size: 40px; } }
  .block-message .body-text .as_cta {
    display: inline-block;
    margin-top: 20px;
    text-align: center; }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .block-message .body-text .as_cta {
        margin-top: 40px; } }
  .block-message .body-text br.mob {
    display: block; }
    @media screen and (min-width: 540px) {
      .block-message .body-text br.mob {
        display: none; } }
  .block-message .body-text br.desktop {
    display: none; }
    @media screen and (min-width: 1440px) {
      .block-message .body-text br.desktop {
        display: block; } }

.block-message {
  padding: 42px 0;
  margin: 0;
  border-top: 1px solid #979797; }
  @media only screen and (min-width: 768px) {
    .block-message {
      width: 95%;
      margin: auto; } }

