/* colours: 
    #b71676
    #673B8A 
    #2CA487
    #1A2BC8
*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

.showcase__nav {
  margin: 20px 0 0 20px;
}
.showcase__nav a {
  color: #673b8a;
  font-size: 1em;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: none;
}
.showcase__header {
  color: #1a2bc8;
  font-size: 4em;
  padding: 20px 0;
  text-align: center;
  letter-spacing: 2px;
}

#filters {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.filter {
  font-size: 12px;
  letter-spacing: 1px;
  color: #673b8a;
}
.filter.active {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.projects {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding: 40px 0;
  align-items: center;
  margin: 0 2em;
}

.projects__project {
  width: 150px;
  height: 150px;
  margin: 10px 20px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.projects__project.hide {
  display: none;
}
.projects__project:nth-child(even) {
  background-color: #b71676;
}
.projects__project:nth-child(odd) {
  background-color: #2ca487;
}

.projects__project > a {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}

.projects__project .title {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.projects__project .desc {
  font-weight: normal;
  text-transform: unset;
  text-align: center;
}

/* Tablets */
@media screen and (min-width: 768px) {
  .projects {
    grid-template-columns: auto auto;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .projects {
    grid-template-columns: auto auto auto;
  }
  .projects__project {
    width: 180px;
    height: 180px;
  }
}
