/* colours: 
    #b71676
    #673B8A 
    #2CA487
    #1A2BC8
*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

.showcase__nav {
  margin: 20px 0 0 20px;
}
.showcase__nav a {
  color: #673b8a;
  font-size: 1em;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: none;
}
.showcase__header {
  color: #1a2bc8;
  font-size: 4em;
  padding: 20px 0;
  text-align: center;
  letter-spacing: 2px;
}

#filters {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.filter {
  font-size: 12px;
  letter-spacing: 1px;
  color: #673b8a;
}
.filter.active {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.projects {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding: 40px 0;
  align-items: center;
  margin: 0 8px;
}

.projects__project {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center top;
  position: relative;
  margin: 8px;
}

.projects__project.active {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  background-size: cover;
  position: relative;
}

.projects__project.hide {
  display: none;
}

.projects__project .overlay {
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6) !important;
  transition: all 0.4s ease-in-out !important;
}

.projects__project .overlay a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
}

.projects__project .overlay a:hover {
  color: #1a2bc8;
}

.projects__project .overlay p {
  text-align: center;
  margin: 0 20px 10px;
}
.projects__project.active .overlay {
  opacity: 1;
}

.projects__project .title {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.projects__project .desc {
  font-weight: normal;
  text-transform: unset;
  text-align: center;
}

/* Tablets */
@media screen and (min-width: 768px) {
  .projects {
    grid-template-columns: auto auto;
  }
  .projects__project {
    width: 50vw;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .projects {
    grid-template-columns: auto auto auto;
  }
  .projects__project {
    width: 400px;
    height: 400px;
  }
}
